
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- .pull-right -->
<!-- mini icons in mega menu -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  media="all"
/>

<!-- Google Fonts  https://www.cssfontstack.com/Architects-Daughter -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.googleapis.com/css?family=Architects+Daughter"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.googleapis.com/css?family=Poppins"
/>

<link 
  href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" 
  rel="stylesheet"
/>