
<!-- Google Fonts  https://www.cssfontstack.com/Architects-Daughter -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.googleapis.com/css?family=Architects+Daughter"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.googleapis.com/css?family=Poppins"
/>

<!-- Bootstrap CSS library -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>

<!-- .pull-right -->
<!-- mini icons in mega menu -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  media="all"
/>

<!-- FIXME: ported old site styles-->
<link rel="stylesheet" href="/assets/css/mega-menu.css" madia="all" />
<link rel="stylesheet" href="/assets/css/minimal-portfolio.css" media="all" />
<link rel="stylesheet" href="/assets/css/custom.css" media="all" />

<link rel="stylesheet" href="/assets/css/lightbox.css">
