<!-- http://jiewang.name/posts/2020/03/images/ -->

<div style="display:flex">
     <div style="flex:1;padding-right:10px;">
          <figure  
               {% if include.id %} 
               id="img_gphoto_{{include.id}}" 
               {% endif %} 
               class="image_link">
          
               <a 
               {% if include.img %} href="/assets/img/{{ page.pics }}/{{page.url | split: "_" | last |split: ".html" | first}}/{{ include.img }}"
               {% else %} href=""
               {% endif %} 
               >
               <img
               {% if include.id %} 
                    alt="img_gphoto_{{include.id}}"  
                    src="" 
               {% else %} 
                    alt="{{ include.img }}" 
                    src="/assets/img/{{ page.pics }}/{{page.url | split: "_" | last |split: ".html" | first}}/{{ include.img }}"
               {% endif %} 
               >
               </a>

               <figcaption>{{ include.cap }}</figcaption>
          
          </figure>
     </div>
     <div style="flex:1;padding-left:10px;">
          <div style="flex:1;padding-right:10px;">
               <figure  
                    {% if include.id2 %} 
                    id="img_gphoto_{{include.id2}}" 
                    {% endif %} 
                    class="image_link">
               
                    <a 
                    {% if include.img2 %} href="/assets/img/{{ page.pics }}/{{page.url | split: "_" | last |split: ".html" | first}}/{{ include.img2 }}"
                    {% else %} href=""
                    {% endif %} 
                    >
                    <img
                    {% if include.id2 %} 
                         alt="img_gphoto_{{include.id2}}"  
                         src="" 
                    {% else %} 
                         alt="{{ include.img2 }}" 
                         src="/assets/img/{{ page.pics }}/{{page.url | split: "_" | last |split: ".html" | first}}/{{ include.img2 }}"
                    {% endif %} 
                    >
                    </a>
     
                    <figcaption>{{ include.cap2 }}</figcaption>
               
               </figure>
          </div>
     </div>
</div>