<div class="row">

<figure  
    {% if include.id %} 
        id="img_gphoto_{{include.id}}" 
    {% endif %} 
    class="image_link">

    <a 
    {% if include.img %} href="/assets/img/{{ page.pics }}/{{page.url | split: "_" | last |split: ".html" | first}}/{{ include.img }}"
    {% else %} href=""
    {% endif %} 
    data-lightbox="gallery"
    data-title="{{ include.cap }}"
    >
        <img
        {% if include.id %} 
            alt="img_gphoto_{{include.id}}"  
            src="" 
        {% else %} 
            alt="{{ include.img }}" 
            src="/assets/img/{{ page.pics }}/{{page.url | split: "_" | last |split: ".html" | first}}/{{ include.img }}"
        {% endif %} 
        >
    </a>
</figure>

<script>
    var fig = document.getElementById("img_gphoto_{{include.id}}")
    if (fig) {
        var lnk = fig.getElementsByTagName('a')[0]
        lnk.href = googlePhotos.urls[{{include.id}}-1] + '=w2048'
        var img = lnk.getElementsByTagName('img')[0]
        img.src = googlePhotos.urls[{{include.id}}-1]
    }
    
</script>

{% if include.id2 %} 

    <figure  
        {% if include.id2 %} 
            id="img_gphoto_{{include.id2}}" 
        {% endif %} 
        class="image_link">

        <a 
        {% if include.img2 %} href="/assets/img/{{ page.pics }}/{{page.url | split: "_" | last |split: ".html" | first}}/{{ include.img2 }}"
        {% else %} href=""
        {% endif %}
        data-lightbox="gallery"
        data-title="{{ include.cap2 }}"
        >
            <img
            {% if include.id2 %} 
                alt="img_gphoto_{{include.id2}}"  
                src="" 
            {% else %} 
                alt="{{ include.img2 }}" 
                src="/assets/img/{{ page.pics }}/{{page.url | split: "_" | last |split: ".html" | first}}/{{ include.img2 }}"
            {% endif %} 
            >
        </a>
    </figure>

{% endif %} 

{% if include.id2 %}
    <script>        
        var fig2 = document.getElementById("img_gphoto_{{include.id2}}");
        var lnk2 = fig2.getElementsByTagName('a')[0];
        lnk2.href = googlePhotos.urls[{{include.id2}}-1] + '=w2048';
        var img2 = lnk2.getElementsByTagName('img')[0];
        img2.src = googlePhotos.urls[{{include.idd}}-1];
    </script>
{% endif %}
 
</div>
