<ul id="mega-menu-primary"
class="mega-menu max-mega-menu mega-menu-horizontal"
data-event="hover"
data-effect="fade_up"
data-effect-speed="200"
data-effect-mobile="disabled"
data-effect-speed-mobile="0"
data-mobile-force-width="false"
data-second-click="close"
data-document-click="collapse"
data-vertical-behaviour="standard"
data-breakpoint="600"
data-unbind="true"
data-mobile-state="collapse_all"
data-hover-intent-timeout="300"
data-hover-intent-interval="100">

    {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url == link.url %}
        {% assign current = 'current' %}
        {% endif %}

        {% assign navIndex = {{forloop.index0}} %}

    <li 
        class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-megamenu mega-align-bottom-left mega-menu-megamenu"
        id="mega-menu-item-{{navIndex}}"
        >
        <a
        class="mega-menu-link"
        href="{{ link.url }}"
        tabindex="0"
        data-wpel-link="internal"
        >{{ link.text }}.{{navIndex}}</a>

        <ul class="mega-sub-menu">
            <li class="mega-menu-row">
                <ul class="mega-sub-menu">
                    
                    {% for sec in link.sections  %}
                    {% assign secIndex = {{forloop.index0}} %}
                    <li 
                    class="mega-menu-column mega-menu-columns-1-of-2"
                    id="mega-menu-45-0-{{secIndex}}"
                    >
                    <ul class="mega-sub-menu">
                        <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-disable-link">
                            <a class="mega-menu-link" tabindex="0">
                                {{ sec.text }}
                                <span class="mega-indicator" data-has-click-event="true">
                                </span>
                            </a>
                            <ul class="mega-sub-menu">
                                <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom">
                                    <a class="mega-menu-link" href="#">
                                        Nuova Zelanda
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                    {% endfor %}
                
                </ul>
            </li>
        </ul>


    </li>

    {% endfor %}
</ul>

