<div class="header-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="site-branding navbar-items nav pull-left">
          <li class="nav-item">
            <div class="branding-inner-wrap">
              <a
                href="http://www.van42.com/en/home-2/"
                rel="home"
                class="site-title"
                data-wpel-link="internal"
                >van42</a
              >
              <p class="site-description">a campervan travel log</p>
            </div>
          </li>
        </ul>
        <!-- .site-branding -->
        <ul class="navbar-items nav pull-right navigation-section">
          <div class="mobile-menu-wrapper">
            <span class="mobile-menu-icon"><i class="icon-menu"></i></span>
            <div class="mobile-menu">
              <div class="menu-close"><i class="icon-close"></i></div>
            </div>
          </div>
          <li
            id="site-navigation"
            class="main-navigation nav-item"
            role="navigation"
          >

            <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
              <div class="mega-menu-toggle">
                <div class="mega-toggle-blocks-left"></div>
                <div class="mega-toggle-blocks-center"></div>
                <div class="mega-toggle-blocks-right">
                  <div
                    class="mega-toggle-block mega-menu-toggle-block mega-toggle-block-1"
                    id="mega-toggle-block-1"
                    tabindex="0"
                  >
                    <span
                      class="mega-toggle-label"
                      role="button"
                      aria-expanded="false"
                      ><span class="mega-toggle-label-closed">MENU</span
                      ><span class="mega-toggle-label-open">MENU</span></span
                    >
                  </div>
                </div>
              </div>
              <!-- megamenu <ul> include here -->
              
              {% include megamenu_static.html %}

            </div>
          </li>
        </ul>
        <!-- .navigation-section -->
      </div>
    </div>
  </div>
</div>
