<nav>
{% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
    {{ item.name }}
    </a>
{% endfor %}
</nav>

<div class="header-menu">
    <div class="container">
        <div class="row">
            

            <!-- Logo -->
            <ul class="site-branding navbar-items nav pull-left">
                <li class="nav-item">
                            <div class="branding-inner-wrap">
                        <a href="http://www.van42.com/en/home-2/" rel="home" class="site-title" data-wpel-link="internal">van42</a>
                        <p class="site-description">a campervan travel log</p>
                    </div>
                </li>
            </ul>


            <!-- Menu-->
            <ul class="navbar-items">
                
                <!-- Home-->
                <li id="site-navigation" class="main-navigation nav-item" role="navigation">
                    <a class="mega-menu-link" href="http://www.van42.com/" tabindex="0">/ about</a>
                </li>

                <!-- Explore -->
                <li class="mega-menu" id="mega-menu-item-45">
                    <a class="mega-menu-link" href="#">/ explore</a>
                    <ul>

                    </ul>
                </li>
                
            </ul>
      

        </div>
    </div>
</div>


