---
---

body {
    padding-top: 0;
}
header {
    width: 100%;
    position: inherit;
    padding-top: 30px;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #20639b;
}
section:first-child {
    padding-bottom: 50px;
    padding-right: 30px;
}
section:last-child {
    padding-bottom: 50px;
}

// two-column layout
// see flex: https://css-tricks.com/understanding-flex-grow-flex-shrink-and-flex-basis/
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.col1 {
    flex-basis: 66%;
    //height: 100vh;
    text-align: center;
    margin-right: 32px;
}
.col2 {
    flex-basis: 33%;
    //height: 100vh;
    padding-top: 80px; // align to article title bottom
}
.wrapper {
    max-width: 100%;
    width: 1170px;
    margin: auto;
    padding-bottom: 20px;
}
.table {
    background: #f3f3f3;
    padding: 20px;
    border-radius: 3px;
}
.mymap iframe {
    border-radius: 3px;
}

article.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
article h1 {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: left
}
article h2 {
    text-align: left
}
article figcaption {
    font-size: 10px;
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 30px;
    text-align: justify;
}
article figure img {
    border-radius: 3px;
}

.image_link {
    margin-block-start: 0; 
    margin-block-end: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}
.header-menu {
    width: 100%;
    margin: auto;
    display: block;
    line-height: 30px;
}
a.site-title {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 26px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.site-description {
    display: block;
}


// carousel
.carousel {
    border-radius: 3px;
}
.carousel__indicators {
    display: none;
}
.carousel__control {
    opacity: 0.3 !important;
    height: 15px !important;
    width: 15px !important;
    border-width: 3px 3px 0 0 !important;
}
.carousel__control:hover {
    opacity: 1 !important;
}


// tags
.tags {
    padding-left: 15px;
    padding-right: 15px;
}
.tags ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    padding: 0px 10px;
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 5px;
}


// diary
.row {
    display: flex; /* equal height of the children */
    margin-left: 0px;
    margin-right: 0px;
}
.entries-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}
.grid__item {
    flex-basis: 23%;
    margin: 0px 1%;
}
.archive__item-teaser {
    max-width: 200px; /* width of container */
    max-height: 95px; /* height of container */
    overflow: hidden;
}
.archive__item-teaser img {
    //margin: -10px 0px 0px -180px;
    width: 200px; /* width of container */
    height: 95px; /* height of container */
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 3px;
}

h2.archive__item-title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 2px;
}



// megamenu
span.mega-indicator:after {
    font-family: 'FontAwesome' !important;
    content: "\f041" !important;
}


// navigation previous, next page
.nav_prev_next {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}
.nav_prev_next a {
    display: block;
    margin: 1em 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}
.nav_prev_next .prev {
    text-align: left;
    float: left;
}
.nav_prev_next .next {
    text-align: right;
    float: right;
}


// home map (leaflet)
.leaflet-control-attribution {
    display: none;
}
.leaflet-shadow-pane {
    display: none;
}
.leaflet-shadow-pane {
    display: none;
}
.leaflet-marker-icon {
    margin-left: -6px !important;
    margin-top: -20px !important;
    width: 13px !important;
    height: 20px !important;
}

// home masonry
.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tile {
    margin: 5px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    max-width: 49%;
    position: relative;
}
.tile:hover .overlay {
    opacity: 1;
}
.tile-img {
    display: inline;
}
.tile-overlay {
    position: absolute;
    float: left;
    left: 0;
    right: 0;
    height: 100%;
    line-height: 330px;
    transition: .5s ease;
    text-align: center;
    color: rgba($color: #fff, $alpha: 0);
    background-color: rgba($color: #000000, $alpha: 0);
}
.tile-overlay:hover {
    color: rgba($color: #fff, $alpha: 1);
    background-color: rgba($color: #000000, $alpha: 0.2);
}

// lightbox
.lightbox .lb-image {
    border: 0px solid #000;
}
.lb-data .lb-close {
    background-size: 100%;
    width: 15px;
    height: 15px;
}
.lb-data .lb-close {
    font-weight: normal;
    padding-bottom: 5px;
}
.lb-data .lb-number {
    margin-top: 5px;
}
