---
---

/* override Minimal theme style.css */
// TODO: replace with theme name variable
//@import "minimal";

body {
    padding-top: 0;
}

header {
    width: 100%;
    position: inherit;
    padding-top: 30px;
    padding-bottom: 30px;
}

section:first-child {
    //width: 500px;
    padding-bottom: 50px;
    padding-right: 30px;
}
section:last-child {
    padding-bottom: 50px;
}

.table {
    background: #f3f3f3;
    padding: 20px;
    //font-style: italic;
}


.wrapper {
    max-width: 100%;
    width: 1170px;
    margin: auto;
}
// TODO: merge with .wrapper
/*body .container {
    max-width: 100%;
    width: 1170px;
}*/

// two-column layout
// see flex: https://css-tricks.com/understanding-flex-grow-flex-shrink-and-flex-basis/
article.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col-1 {
    width: 70%;
    height: 100vh;
    text-align: center;
    margin-right: 32px;
}
.col-2 {
    width: 30%;
    padding: 30px;
    height: 100vh;
    margin: 50px;
}
.col:not(:last-child) {
    margin-right: 32px;
    flex-basis: 66%;
    //flex-basis: 0;
    flex-grow: 1;
}

// end two column layout



.blogroll-img {
    width: 50px;
}

.image_link {
    margin-block-start: 0; 
    margin-block-end: 0;
    margin-left: 0;
    margin-right: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}




.header-menu {
    width: 100%;
    margin: auto;
    display: block;
    line-height: 30px;
}

a.site-title {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 26px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.site-description {
    display: block;
}


span.mega-indicator:after {
    font-family: 'FontAwesome' !important;
    content: "\f041" !important;
}

// navigation previous, next page
.nav_prev_next {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
  }
  
  .nav_prev_next a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .nav_prev_next .next {
    text-align: right;
  }


  .row {
    display: flex; /* equal height of the children */
  }

.tags ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    padding: 5px 10px;
    background-color: #ddd;
    margin-right: 10px;
}


// home masonry
.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    margin: 5px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    max-width: 49%;
}
.tile:hover .overlay {
    opacity: 1;
}

.tile-overlay {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    text-align: center;
}
