<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    {% include head/custom.html %}
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  </head>
  
  <body>
    <div class="wrapper">

      <header>
        {% include nav.html %}
        {% include nav_prev_next.html %}
      </header>

      <article class="container">

        <!-- 1st column -->
        <section class="col1">
          
          <h1>
            {% if page.title %}
              {{ page.title | strip_html }}
            {% else %}
              <br/>
            {% endif %}
          </h1>

          {{ content }}
        </section>
        <!-- 2nd column -->
        <section class="col2">
          {% include mymap.html %}
          {% include table.html %}
        </section>
      </article>
      
      
      <div class="tags">
        <ul>
          {% for tag in page.tags %}
              <li> {{tag}} </li>
          {% endfor %}
        </ul>
      </div>

      {% include nav_prev_next.html %}
      
    </div>
    
    {% include foot/custom.html %}

  </body>
</html>